@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  text-shadow: 0 0 10px #000000;
}
.reveal {
  font-family: 'Roboto Condensed',sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #eeeeee; }

::selection {
  color: white;
  background: #ff5e99;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #eeeeee;
  font-family: 'Roboto Condensed',sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em; }


.reveal .main h1 {
  font-size: 2em;
  line-height: 2em;
  margin-bottom: 50px;
}
.reveal .main h3 {
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 100px;
}

#page-background { 
  background: #99A0A6 url('http://germanlena.com.ar/assets/img/backgrounds/image0019.jpg');
  background-size: cover;
  height: 110%;
  width: 110%;
  position: fixed;
  top: -5%;
  left: -5%;
  z-index: -1;
}
#page-background.blured {
  -webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px);
}

p.big {
  font-size: 2em;
}
/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  text-decoration: none;
  color: #FF0085;
  text-shadow: 0 0 10px #FFFFFF; }

.reveal a:not(.image):hover {
  text-decoration: underline;
  color: #FF0085;
  border: none; }

.reveal .roll span:after {
  color: #FF0085; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #13daec;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #13daec; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #13daec; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #13daec; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #13daec; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #71e9f4; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #71e9f4; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #71e9f4; }
  
.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #71e9f4; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #13daec;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #13daec; }
