/bootstrap/compiled.php
/vendor
/.idea/
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/bower_components
/node_modules
public/assets/javascript
public/assets/stylesheets
app/config/local/twitter.php
